@font-face {
  font-family: 'AdventuresInTheSnow';
  src: url(./fonts/AdventuresintheSnowFont-Regular.ttf);
}
@font-face {
  font-family: 'Alpaloza';
  src: url(./fonts/Alpaloza.ttf);
}
@font-face {
  font-family: 'Anima';
  src: url(./fonts/Anima.ttf);
}
@font-face {
  font-family: 'BabySans';
  src: url(./fonts/BabySans.ttf);
}
@font-face {
  font-family: 'Bastavar';
  src: url(./fonts/Bastavar.ttf);
}
@font-face {
  font-family: 'BonwickTypeface';
  src: url(./fonts/BonwickTypeface-Regular.ttf);
}
@font-face {
  font-family: 'BookochiRegular';
  src: url(./fonts/BookochiRegular.ttf);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 1.8rem;
  box-sizing: border-box;
  margin: 0;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  color: hsl(0, 0%, 100%);
}
.font7 {
  font-family: 'AdventuresInTheSnow';
  font-size: 3rem;
}
.font2 {
  font-family: 'Alpaloza';
}
.font3 {
  font-family: 'Anima';
}
.font4 {
  font-family: 'BabySans';
}
.font5 {
  font-family: 'Bastavar';
}
.font6 {
  font-family: 'BonwickTypeface';
}
.font1 {
  font-family: 'BookochiRegular';
}
